* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(10deg, #2d395f 34%, #2c6afb 60%);
}

table{
    position: absolute;
    height: 500px;
    width: 500px;
    color: rgb(22, 22, 22);
    border: #fff;
    background-color: rgb(255, 255, 255);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

